{% extends 'base.html' %} {% block content %} {% load static %}
<!-- Hero -->
<div class="hero text-center">
  <div>
    <h1>Carnaval de Oruro</h1>
    <p class="lead">Patrimonio Oral e Intangible de la Humanidad</p>
  </div>
</div>

<!-- Información General -->
<div class="container py-5 aparecer">
  <h2 class="text-center mb-4">Información General</h2>
  <div class="row g-4">
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <img
          src="{% static '/img/informacion/c1.jpg' %}"
          class="card-img-top"
          alt="Diablada"
        />
        <div class="card-body">
          <h5 class="card-title">Origen</h5>
          <p class="card-text">
            El Carnaval de Oruro tiene raíces prehispánicas y es una fusión
            entre tradiciones andinas y el cristianismo, especialmente en honor
            a la Virgen del Socavón.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <img
          src="{% static '/img/informacion/f2.jpg' %}"
          class="card-img-top"
          alt="Cultura"
        />
        <div class="card-body">
          <h5 class="card-title">Importancia Cultural</h5>
          <p class="card-text">
            Declarado por la UNESCO como Obra Maestra del Patrimonio Oral e
            Intangible de la Humanidad, es una de las expresiones folclóricas
            más importantes de Bolivia.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <img
          src="{% static '/img/informacion/f3.jpg' %}"
          class="card-img-top"
          alt="Actividades"
        />
        <div class="card-body">
          <h5 class="card-title">Actividades</h5>
          <p class="card-text">
            El evento central es la entrada folklórica con danzas como la
            Diablada, Morenada y Caporales, acompañadas por bandas, trajes
            coloridos y gran devoción religiosa.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Galería de Imágenes -->
<div class="container mb-5 aparecer">
  <h2 class="text-center mb-4">Galería</h2>
  <div id="carnavalCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner rounded shadow">
      <div class="carousel-item active">
        <img
          src="{% static '/img/informacion/oruro5.jpg' %}"
          class="d-block w-100"
          alt="Desfile"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static '/img/informacion/oruro4.jpg' %}"
          class="d-block w-100"
          alt="Bailarines"
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static '/img/informacion/oruro1.jpg' %}"
          class="d-block w-100"
          alt="Caporales"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carnavalCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carnavalCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div>
  <h1 class="titulo">Biblioteca de Musica</h1>
  <div class="contenedor-musica">
    <div class="row mt-1">
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/5M-tZOHxdOI/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción GRAN TRAD. AUTENTICA "DIABLADA ORURO"</h3>
        <a href="https://youtu.be/5M-tZOHxdOI" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/917Q3HSPEEo/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción HIJOS DEL SOL "LOS INCAS"</h3>
        <a href="https://youtu.be/917Q3HSPEEo" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/0gPukwyotVs/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. FLOK "MORENADA ZONA NORTE"</h3>
        <a href="https://youtu.be/0gPukwyotVs" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/7kqvO4eiX6M/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción FRAT. ART. "ZAMPOÑEROS HIJOS DEL PAGADOR"</h3>
        <a href="https://youtu.be/7kqvO4eiX6M" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/UuZbNPfePrY/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CENTRO TRAD. "NEGRITOS DE PAGADOR"</h3>
        <a href="https://youtu.be/UuZbNPfePrY" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/jkY3tGxXoaE/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. FLOK "AHUATIRIS"</h3>
        <a href="https://youtu.be/jkY3tGxXoaE" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/1wL2qzfoF6I/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. WACA WACAS "SAN AGUSTIN"(DERECHO)</h3>
        <a href="https://youtu.be/1wL2qzfoF6I" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/dIPXrHBM3hc/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción FRAT. MORENADA "CENTRAL ORURO"</h3>
        <a href="https://youtu.be/dIPXrHBM3hc" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/cPttWaDSD4M/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. CAPORALES INFANTILES "IGNACIO LEON"</h3>
        <a href="https://youtu.be/cPttWaDSD4M" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/tj3do3VYtVw/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción TRAD. FLOK. "DIABLADA ORURO"</h3>
        <a href="https://youtu.be/tj3do3VYtVw" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/S4fDLOuMBUY/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción FRAT. CAPORALES "CENTRALISTAS"</h3>
        <a href="https://youtu.be/S4fDLOuMBUY" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/nIcz8Z76MjI/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción FRAT. MORENADA CENTRAL ORURO fund. por la com. Cocani</h3>
        <a href="https://youtu.be/nIcz8Z76MjI" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/km1EZaudI-g/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. FLOK "TOBAS ZONA SUD"</h3>
        <a href="https://youtu.be/km1EZaudI-g" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/vFA2VA6beK8/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. NEGRITOS "UNIDOS DE LA SAYA"</h3>
        <a href="https://youtu.be/vFA2VA6beK8" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/HXpdrqs7xmc/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. WACA TOCORIS "URUS"</h3>
        <a href="https://youtu.be/HXpdrqs7xmc" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/zW3qLFLakE4/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. FOLK. "ANTAWARA"</h3>
        <a href="https://youtu.be/zW3qLFLakE4" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/aECIgkW86OQ/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción 1</h3>
        <a href="https://youtu.be/aECIgkW86OQ" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/GGTKJqQGZME/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. FOLK. TINKUS "TOLKAS"</h3>
        <a href="https://youtu.be/GGTKJqQGZME" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/1hzHBTigYVU/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción FRAT. ART. Y CULT. "LA DIABLADA"</h3>
        <a href="https://youtu.be/1hzHBTigYVU" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
      <div class="col-12 col-md-3 cancion">
        <img
          src="https://img.youtube.com/vi/meYVD6UzoWk/hqdefault.jpg"
          alt="Portada"
        />
        <h3>Canción CONJ. MORENADA "MEJILLONES"</h3>
        <a href="https://youtu.be/meYVD6UzoWk" target="_blank"
          >▶ Ver en YouTube</a
        >
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12 col-md-3">
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/-F86a6GZG_8/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción FRAT. FOLK. "LLAMERADA SOCAVON"</h3>
          <a href="https://youtu.be/-F86a6GZG_8" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/4DBDL7Ay1zU/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción CONJ. FOLK. Y CULT. "PHUJLLAY ORURO"</h3>
          <a href="https://youtu.be/4DBDL7Ay1zU" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/7SW3-raNjsU/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción GRUPO DE DANZA EST. "SURI SICURI"</h3>
          <a href="https://youtu.be/7SW3-raNjsU" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/l-AmHgmsjn8/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción CONJ. FOLK. "SAMBOS CAPORALES"</h3>
          <a href="https://youtu.be/l-AmHgmsjn8" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-12 col-md-3">
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/ad2GvitwcBQ/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción FRAT. "CULLAGUADA ORURO"</h3>
          <a href="https://youtu.be/ad2GvitwcBQ" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/nK2LZDEBaNk/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción CONJ. TRAD. "TOBAS ZONA CENTRAL"</h3>
          <a href="https://youtu.be/nK2LZDEBaNk" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
      </div>

      <div class="col-12 col-md-3">
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/1idsXU3iN40/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción CONJ. FOLK. DE ZAMPOÑEROS "KORY WAJTAS"</h3>
          <a
            href="https://www.youtube.com/shorts/1idsXU3iN40?feature=share"
            target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
        <div class="row mt-1">
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/aECIgkW86OQ/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción 1</h3>
              <a href="https://youtu.be/aECIgkW86OQ" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/CL_6TE6lA6g/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción FRAT. REYES MORENOS "FERRARI GHEZZI"</h3>
              <a href="https://youtu.be/CL_6TE6lA6g" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/xh-m91_TtYY/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CAPORALES REYES DE LA TUNTUNA "ENAF"</h3>
              <a href="https://youtu.be/xh-m91_TtYY" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/Jf3Lulr4MvY/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. TINKUS "LOS JAIRAS DE ORURO"</h3>
              <a href="https://youtu.be/Jf3Lulr4MvY" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/ad2GvitwcBQ/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción FRAT. "CULLAGUADA TERRIBLES QUIRQUINCHOS"</h3>
              <a href="https://youtu.be/ad2GvitwcBQ" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/FKcmTYY71go/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción FRAT. "KALLAWAYAS BOLIVIA"</h3>
              <a href="https://youtu.be/FKcmTYY71go" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/yrCTi8oS6M4/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. "POTOLOS CHAYANTAS JHILANCOS"</h3>
              <a href="https://youtu.be/yrCTi8oS6M4" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/Cye7cNjBTK8/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. FOLK. Y CULTURAL "DOCTORCITOS ITOS"</h3>
              <a href="https://youtu.be/Cye7cNjBTK8" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-12 col-md-3"></div>
          <div class="col-12 col-md-3"></div>
          <div class="col-12 col-md-3"></div>
          <div class="col-12 col-md-3"></div>
        </div>
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/Z8ozhZ7YM90/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción FRAT. DE DANZAS EST."INTILLAJTA"</h3>
          <a href="https://youtu.be/Z8ozhZ7YM90" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/hGYBANRCdRQ/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción DIABLADA ART. "URUS"</h3>
          <a href="https://youtu.be/hGYBANRCdRQ" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/BHF_x_SQDJc/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción FRAT. CULT. REYES MORENOS "COMIBOL"</h3>
          <a href="https://youtu.be/BHF_x_SQDJc" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>
        <div class="cancion">
          <img
            src="https://img.youtube.com/vi/QIuTMGm1cR0/hqdefault.jpg"
            alt="Portada"
          />
          <h3>Canción CONJ. ART. Y CULT. "TOBAS URU-URU"</h3>
          <a href="https://youtu.be/QIuTMGm1cR0" target="_blank"
            >▶ Ver en YouTube</a
          >
        </div>

        <div class="row mt-1">
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/5LcEbT6fjFI/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción FRAT. FOLK. CULT. CAPORALES UNIV."SAN SIMON"</h3>
              <a href="https://youtu.be/5LcEbT6fjFI" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/g25AUBxCS1s/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. AUTOCTONO "WITITIS"</h3>
              <a href="https://youtu.be/g25AUBxCS1s" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/sbjRlfLYH4g/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. FOLK. "TINKUS HUAJCHAS"</h3>
              <a href="https://youtu.be/sbjRlfLYH4g" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>

          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/SbL7ezF25GY/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción INCAS KOLLASUYO "HIJOS DEL SOCAVON"</h3>
              <a href="https://youtu.be/SbL7ezF25GY" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/6p6VqIzHH7o/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción TARQUEADA "JATUN JALLPA"</h3>
              <a href="https://youtu.be/6p6VqIzHH7o" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/sMIinWBbgFQ/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción FRAT. MORENAADA METALURGICA "ENAF"</h3>
              <a href="https://youtu.be/sMIinWBbgFQ" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/B9DifSikAsQ/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CENTRO CULTURAL "RIJCHARY LLAJTA"</h3>
              <a href="https://youtu.be/B9DifSikAsQ" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/wckulIHTtss/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. UNIV. "SURI UTO"</h3>
              <a href="https://youtu.be/wckulIHTtss" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/BMQzCjFWRZE/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CAPORALES "CBN"</h3>
              <a href="https://youtu.be/BMQzCjFWRZE" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/cfGZI5t0WgI/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. AUTOCTONO "SUMAJ PUNCHAY"</h3>
              <a href="https://youtu.be/cfGZI5t0WgI" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/rAU6M0IKYqo/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción FRAT. FOLK. ART. CULT. "PUJLLAY"</h3>
              <a href="https://youtu.be/rAU6M0IKYqo" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/70SAIS6gQyI/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción CONJ. TRAD "LLAMERADA ZONA NORTE"</h3>
              <a href="https://youtu.be/70SAIS6gQyI" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 col-md-3">
            <div class="cancion">
              <img
                src="https://img.youtube.com/vi/GzpYPBKbCOw/hqdefault.jpg"
                alt="Portada"
              />
              <h3>Canción FRAT. CULT. TINKUS BOLIVIA (Ayllu Llajwas)</h3>
              <a href="https://youtu.be/GzpYPBKbCOw" target="_blank"
                >▶ Ver en YouTube</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const elementos = document.querySelectorAll(".aparecer");

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("visible");
                observer.unobserve(entry.target); // Deja de observar cuando ya apareció
              }
            });
          },
          { threshold: 0.5 }
        ); // Se activa cuando el 50% de la imagen es visible

        elementos.forEach((elemento) => observer.observe(elemento));
      });
    </script>

    {% endblock %}
  </div>
</div>
